html {
    position: fixed;
    width: 100%
}


body {
    background: linear-gradient(170deg, #976FAB 0%, #D694B4 60%, #ECBBC1 88%, #F4CFD1 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2%;
}

li {
    display: grid;
    place-items: center;
    font-weight: bold;
    position: relative;
    margin-left: -12px;
    margin-right: 27px;
    width: 25px;
    height: 25px;
}

a {
    text-decoration: none;
    font-size: 13px;
    padding: 8px;
    margin: 5px;
    background-color: #AD98C3;
    color: #373737;
    border: none;
    border-radius: 10px;
    transition: background-color 0.3s ease;
    font-family: 'Inter';
    text-align: center;
}

input {
    background-color: #fff;
    padding: 8px;
    border-radius: 5px;
    border: None;
    height: 20px;
    width: 200px;
    margin: 5px;
}

#weekDaysItems {
    flex: 1;
    margin-left: -20px;
    margin-right: 20px;
    font-weight: bold;
    text-align: center;
    list-style-type: none;
}

#calendarCard {
    background-color: #FFFF;
    width: 350px;
    box-shadow: 0 1rem 2.5rem rgb(27, 64, 94);
}

#calendarHeader {
    padding: 0 20px;
    color: #7D8994;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#calendarBody {
    border-top: 1px solid #ccc;

}

#calendarWeekDays {
    display: flex;
    justify-content: space-between;
    color: #7D8994;
}

#calendarDays {
    display: grid;
    gap: 4px;
    color: #000000;
    grid-template-columns: repeat(7, 1fr);
    justify-items: center;
    text-align: center;
}

#eventsInfo {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #FFFF;
    border-radius: 30px;
    width: 350px;
    margin-top: 20px;
    padding-bottom: 20px;
}

#eventInfo {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    font-family: 'Inter Light';
    font-size: 18px;
    color: #000000;
}

#eventInfoWithImage {
    display: flex;
    width: 300px;
}

.activeDay {
    background: #8AE2CE;
    border-radius: 10px;
}

.eventDay {
    border: 2px solid;
    border-color: #A8CFEE;
    border-radius: 10px;
}

.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}
  
#rightArrow {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}
  
#leftArrow {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}


@media (max-height: 2500px) {
    html {
        height: 2500px;
    }
}

@media (max-height: 1500px) {
    html {
        height: 1500px;
    }
}

@media (max-height: 1000px) {
    html {
        height: 1000px;
    }
}

@media (max-height: 800px) {
    html {
        height: 800px;
    }
}

@media (max-height: 500px) {
    html {
        height: 500px;
    }
}