html {
    height: 737px;;
}


body {
    background: linear-gradient(170deg, #976FAB 0%, #D694B4 60%, #ECBBC1 88%, #F4CFD1 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5%;
}

span {
    background-color: #fff;
    padding: 8px;
    margin-bottom: 5px;
    border-radius: 5px;
    height: 20px;
    display: inline-block;
    width: 250px;
}

input {
    background-color: #fff;
    padding: 8px;
    border-radius: 5px;
    border: None;
    height: 20px;
    width: 200px;
}

#updateTg {
    font-size: 13px;
    padding: 8px;
    margin: 5px;
    background-color: #d46f60;
    color: #292727;
    border: none;
    border-radius: 8px;
    transition: background-color 0.3s ease;
    width: 40px;
    font-family: 'Inter';
}

#teacherInfo {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    font-family: 'Inter Light';
    font-size: 18px;
    color: #fff;
}

#infoWithImage {
    display: flex;
    width: 300px;
}

#locs {
    display: flex;
    flex-direction: column;
}

.loader {
    content: "";
    width: 50px;
    height: 50px;
    border: 5px solid #312f32;
    border-top-color: transparent;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}
 
@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.hidden {
    opacity: 0;
    transition: opacity 0.5s ease-out;
    pointer-events: none;
}