html {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


body {
    background: linear-gradient(170deg, #976FAB 0%, #D694B4 60%, #ECBBC1 88%, #F4CFD1 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50%;
}

.loader {
    margin: 50px;
}

.visible {
    content: "";
    width: 50px;
    height: 50px;
    border: 5px solid #312f32;
    border-top-color: transparent;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

select {
    background-color: #ffffff;
    font-size: 200%;
    border-radius: 10px;
    border: 1px solid rgb(88, 86, 86);
    width: 50%;
    height: 8%;
    padding: 5px;
    margin: 5px;
    font-family: 'Inter';
}

input {
    background-color: #ffffff;
    font-size: 200%;
    border-radius: 10px;
    border: 1px solid rgb(88, 86, 86);
    margin: 5px;
    width: 48.5%;
    height: 6.5%;
    padding: 7px;
    font-family: 'Inter';
}


button {
    font-size: 150%;
    padding: 1%;
    margin: 5px;
    background-color: #fff;
    color: #000000;
    border: none;
    border-radius: 10px;
    transition: background-color 0.3s ease;
    width: 13%;
    font-family: 'Inter';
}