html {
    position: fixed;
    height: 900px;
    width: 100%
}


body {
    background: linear-gradient(170deg, #976FAB 0%, #D694B4 60%, #ECBBC1 88%, #F4CFD1 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15%;
}

.loader {
    margin: 50px;
}

.visible {
    content: "";
    width: 50px;
    height: 50px;
    border: 5px solid #312f32;
    border-top-color: transparent;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

select {
    background-color: #ffffff;
    font-size: 20px;
    border-radius: 10px;
    border: 1px solid rgb(88, 86, 86);
    width: 250px;
    height: 40px;
    padding: 5px;
    margin: 5px;
    font-family: 'Inter';
}

input {
    background-color: #ffffff;
    font-size: 20px;
    border-radius: 10px;
    border: 1px solid rgb(88, 86, 86);
    margin: 5px;
    width: 234px;
    height: 25px;
    padding: 7px;
    font-family: 'Inter';
}


button {
    font-size: 15px;
    padding: 8px;
    margin: 5px;
    background-color: #fff;
    color: #000000;
    border: none;
    border-radius: 10px;
    transition: background-color 0.3s ease;
    width: 70px;
    font-family: 'Inter';
}


/* @media (max-width: 1000px) {
} */