html {
    height: 100%;
}


body {
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(170deg, #976FAB 0%, #D694B4 60%, #ECBBC1 88%, #F4CFD1 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15%;
}

select{
    background-color: #ffffff;
    font-size: 20px;
    border-radius: 10px;
    border: 1px solid rgb(88, 86, 86);
    width: 250px;
    height: 40px;
    padding: 5px;
    margin: 5px;
}

input {
    background-color: #ffffff;
    font-size: 20px;
    border-radius: 10px;
    border: 1px solid rgb(88, 86, 86);
    margin: 5px;
    width: 240px;
    height: 30px;
    padding: 3px;
}

option {
    font-family: 'Roboto', sans-serif;
}

button {
    font-size: 15px;
    padding: 8px;
    margin: 5px;
    background-color: #fff;
    color: #000000;
    border: none;
    border-radius: 10px;
    transition: background-color 0.3s ease;
    width: 70px;
}